body {  
  font-family: Arial, sans-serif;  
  background-color: #f0f0f0;  
}  
  
#title {  
  font-size: 36px;  
  font-weight: bold;  
  text-align: center;  
  color: lightgray;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
  margin-bottom: 20px;  
  background: linear-gradient(to bottom, #4CAF50, #3e8e41);  
  padding: 10px;  
  border-radius: 10px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
  transform: rotateX(10deg);  
  position: absolute;  
  top: 10px;  
  left: 50%;  
  transform: translateX(-50%);  
  z-index: 1;  
}


#canvas {  
  border: 1px solid #ccc;  
  border-radius: 10px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  float: left;  
  margin-top: 100px;  
}  
  
#controls {  
  width:250px;
  position: relative;
  float: right;  
  padding: 10px;  
  border: 1px solid #ccc;  
  border-radius: 10px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  margin-left: 10px;  
  margin-top: 100px;  
}  
  
#controls label {  
  display: block;  
  margin-bottom: 10px;  
}  

#preset-select {  
  width: 100px;  
  height: 30px;  
  padding: 5px;  
  border: 1px solid #ccc;  
  border-radius: 5px;  
  margin-bottom: 10px;  
}

  
#controls input[type="number"] {  
  width: 100px;  
  height: 20px;  
  padding: 5px;  
  border: 1px solid #ccc;  
  border-radius: 5px;  
}  
  
#toggle-magnetic-field {  
  padding: 5px 10px;  
  border: 1px solid black;  
  border-radius: 5px;  
  cursor: pointer;  
  background-color: #f0f0f0;  
  color: black;  
}  
  
#toggle-magnetic-field:hover {  
  opacity: 0.8;  
}  
  
#toggle-magnetic-field.off {  
  background-color: #f44336;  
}  
  

.hidden {  
  display: none;  
}
#radius-hint-box {  
  width: 250px;  
  background-color: #4CAF50;  
  color: #fff;  
  padding: 10px;  
  border: none;  
  border-radius: 5px;  
  font-size: 14px;  
  margin-top: 10px;  
  position: absolute;  
  top: 100%;  
  left: 0;  
}


.hint-box {  
  
  width: 250px;  
  background-color: #4CAF50;  
  color: #fff;  
  padding: 10px;  
  border: none;  
  border-radius: 5px;  
  font-size: 14px;  
  margin-top: 10px;  
  clear: both;  
  margin-left: 20px;  
}

#clear-button{
  padding: 5px 10px;  
  border: 1 px solid black;  
  border-radius: 5px;  
  cursor: pointer;  
  margin: 10px;
  border: 1px solid #ccc;  
  border-radius: 5px;  
  
}

#add-particle{
  padding: 5px 10px;  
border: 1 px solid black; 
  border-radius: 5px;  
  cursor: pointer;  
  margin: 10px;
  border: 1px solid #ccc;  
  border-radius: 5px;  
  
}
